// Use the gear_dropdown.png screenshot as a style guide

#gear {
  position: relative;
}

.gear-dropdown {
  position: absolute;
  top: 25px;
  right: 5px;
  display: none;
  background: white;
  border: 1px solid $light-gray;
  border-radius: 2px;
  padding: 5px 5px;
  font-family: $sans-serif;
  color: gray;
  z-index: 1;
  width: 185px;
  text-transform: uppercase;
  box-shadow: -1px 4px 6px 1px rgba(0, 0, 0, 0.09);
}

.gear-dropdown > li {
    padding: 0
}


.editions {
  border-bottom: 1px solid $light-gray;
  padding-bottom: 0;
  margin-bottom: 0;
  padding: 5px
}

.dropdown-subtitle {
  padding-left: 5px;
  display: block;
  padding: 5px 0 5px 5px;
  font-size: 10px;
  color: $dark-gray;
  font-weight: bold;
}

.help {
    margin-top: 0;
    padding-top: 0;
    padding: 5px 5px;
}

.help > li {
    color: $light-blue;
    text-decoration: underline;
    padding: 4px 5px;  
}

.editions > li {
    padding: 4px 5px
}

.editions > li:hover {
    background: $light-gray;
    border-radius: 3px;
}

.editions > li > a:hover {
    text-decoration: none;
}

.help > li:last-of-type {
    color: $light-blue;
    text-transform: capitalize;
    text-decoration: none;
}


#gear:hover {
  .gear-dropdown {
    display: block;
  }
}
