.main-nav {
  display:flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid $light-gray
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  align-items: center;
}

.left-nav {

  > ul {
    > li {
      padding: 10px 10px;
      font-size: 11px;
      font-family: $sans-serif;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0 10px
    }
  }

  span {

  }
}

.right-nav  {

  > ul {

    > li > button {
      padding: 6px
    }

    > li:last-of-type {
      padding: 5px;
      font-size: 13px;
  
    }
  }
  
  i {

  }
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {
  background-color: $lightest-gray;
}
